@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
body {
  margin: auto;
  background-color: #000000;
}

.tytul {
  padding-top: 20px;
  text-align: center;
}

.tekst {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  color: #FFFFFF;
  text-align: center;
}

img {
  width: 25%;
  height: 25%;
}

.nav{
    list-style:none;
    margin:0;
    text-align:center;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    border: 2px solid #2228a6;
    background-color: #000000;
    color: #FFFFFF;
    padding: 14px 28px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.nav a:hover{
    transition: 0.5s;
    display:inline-block;
    padding:10px;
    border: 2px solid #FFFFFF;
    background-color: #222831;
    color: #FFFFFF;
    padding: 14px 28px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;

}
